@{
}

@if (User.Identity.IsAuthenticated)
{

    <div class="text-center">
        <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
        <h3>Your Current Jobs:</h3>
        @foreach (var Job in Model.Jobs)
        {
            <div>
               @Job.Title:
               
                @if (Job.Pending)
                {
                   <span>Active</span>
                }
                else if (Job.Completed)
                {
                   <span>Complete</span>

                } else
                {
                    <span>Available</span>
                }
               |
           @Html.ActionLink("Mark Active", "MarkActive", new { @text = @Job.Title, id = Job.JobId }) |
                @Html.ActionLink("Mark Complete", "MarkComplete", new { @text = @Job.Title, id = Job.JobId })
            
            
            </div>


        }
        @if (Model.Avaliable)
        {
            <h2>Please @Html.ActionLink("Select a job", "Index", "Jobs").</h2>


        }
        else
        {
            <p>You are already assigned to a job.</p>
        }
    </div>
}